name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-unit:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run test

  test-action:
    name: Integration test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: integration

    if: false
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Configure AWS credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          audience: 'sts.amazonaws.com'

      - name: Get latest NixOS image
        id: image
        run: |
          image_id=$(aws ec2 describe-images --owners 427812963091  --filter 'Name=name,Values=nixos/24.11*' 'Name=architecture,Values=arm64' --query 'sort_by(Images, &CreationDate)' --query 'Images[0].ImageId' --output text)
          echo "image-id=$image_id" >> "$GITHUB_OUTPUT"

      - name: Get caller identity
        id: get-caller-identity
        run: |
          userid=$(aws sts get-caller-identity --query UserId --output text)
          echo "userid=$userid" >> "$GITHUB_OUTPUT"

      - name: Run instance
        id: run-instance
        run: |
          instance_id=$(aws ec2 run-instances \
            --instance-type t4g.small \
            --image-id "$image_id" \
            --tag-specifications \
              "ResourceType=instance,Tags=[{Key=ManagedBy,Value=$userid}]" \
              "ResourceType=volume,Tags=[{Key=ManagedBy,Value=$userid}]" \
              "ResourceType=network-interface,Tags=[{Key=ManagedBy,Value=$userid}]" \
            --query 'Instances[0].InstanceId' \
            --output text)
          echo "instance-id=$instance_id" >> "$GITHUB_OUTPUT"
        env:
          userid: ${{ steps.get-caller-identity.outputs.userid }}
          image_id: ${{ steps.image.outputs.image-id }}

      - name: Wait for instance running
        id: wait-instance-running
        run: aws ec2 wait instance-running --instance-ids "$instance_id"
        env:
          instance_id: ${{ steps.run-instance.outputs.instance-id }}

      - name: Wait for instance to appear
        id: wait-ssm-managed
        run: |
          instance=""
          tries=10
          while [ -z "$instance" ]; do
            tries=$((tries - 1))
            if [ $tries -eq 0 ]; then
              echo "instance did not appear in time"
              exit 1
            fi
            instance=$(aws ssm describe-instance-information --filters="Key=InstanceIds,Values=$instance_id" --output text)
            sleep 20
          done
        env:
          instance_id: ${{ steps.run-instance.outputs.instance-id }}

      - name: Create an association
        id: create-association
        run: |
          association_id=$(aws ssm create-association \
            --name 'AWS-RunShellScript' \
            --tags "Key=ManagedBy,Value=$userid" \
            --targets "Key=tag:ManagedBy,Values=$userid" \
            --parameters "commands='echo hello'" \
            --query 'AssociationDescription.AssociationId' \
            --output text)
          echo "association-id=$association_id" >> "$GITHUB_OUTPUT"
        env:
          userid: ${{ steps.get-caller-identity.outputs.userid }}

      - name: Update association
        id: normal
        uses: ./
        with:
          association-id: ${{ steps.create-association.outputs.association-id }}
          parameters: '{"commands": ["echo hello world"]}'
          wait-until-association-updated: true

      - name: Update association with timeout
        id: timeout
        uses: ./
        continue-on-error: true
        with:
          association-id: ${{ steps.create-association.outputs.association-id }}
          parameters: '{"commands": ["sleep 600"]}'
          max-wait-time: 20
          wait-until-association-updated: true

      - name: Previous step should have failed
        if: steps.timeout.outcome  == 'success'
        run: exit 1

      - name: Update association with invalid command
        id: tag-target-fail
        uses: ./
        continue-on-error: true
        with:
          association-id: ${{ steps.create-association.outputs.association-id }}
          parameters: '{"commands": ["ls non-existent"]}'
          wait-until-association-updated: true
          log-failed-command-invocations: true

      - name: Previous step should have failed
        if: steps.tag-target-fail.outcome  == 'success'
        run: exit 1

      - name: Terminate instance
        id: terminate-instance
        if: always() && steps.run-instance.outputs.instance-id != ''
        run: aws ec2 terminate-instances --instance-ids "$instance_id"
        env:
          instance_id: ${{ steps.run-instance.outputs.instance-id }}

      - name: Delete association
        id: delete-association
        if: always() && steps.create-association.outputs.association-id != ''
        run:
          aws ssm delete-association --association-id ${{
          steps.create-association.outputs.association-id }}
